.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 740px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}


section {
  padding: 2rem 0;
}

section.dark {
  background-color: gray;
  color: white;
}

section.dark a {
  color: white;
}

section.dark *::-webkit-scrollbar {
  width: 0.5rem;
}

section.dark *::-webkit-scrollbar-track {
  background: black;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-button {
  display: none;
}

section.dark *::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section.light {
  background-color: #e8e9f3;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.form-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.field-input {
  justify-self: left;
}

.field-label {
  justify-self: right;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  width: 100%;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  font-size: 1rem;
  background-color: #e76836;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #eC845b;
  cursor: pointer;
}

button.wide {
  display: block;
  width: 100%;
  padding: 1rem;
}
